<!DOCTYPE html>

<html lang="es">

{% extends 'base.HTML' %}

<head>
    <title>{% block title %}Settings{% endblock %}</title>
    {% block style%}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    {% endblock %}
    {% block javascript %}
    <script>
        function redirectToAccount() {
            // Obtener la URL generada por Flask utilizando url_for
            var securityUrl = "{{ url_for('account') }}";
            // Redirigir a la URL de seguridad
            window.location.href = securityUrl;
        }
        function redirectToSecurity() {
            // Obtener la URL generada por Flask utilizando url_for
            var securityUrl = "{{ url_for('security') }}";
            // Redirigir a la URL de seguridad
            window.location.href = securityUrl;
        }
        function redirectToDeleteAccount() {
            // Obtener la URL generada por Flask utilizando url_for
            var securityUrl = "{{ url_for('deleteaccount') }}";
            // Redirigir a la URL de seguridad
            window.location.href = securityUrl;
        }
    </script>
    {% endblock %}
</head>

<main id="main" role="main">
    {% block contenido %}
    <section class="pb-4">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center mt-5">
                <h1 class="h3 mb-3">Settings</h1>
                <div class="row">
                    <div class="col-md-5 col-xl-4">

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Profile Settings</h5>
                            </div>

                            <div class="list-group list-group-flush" role="tablist">
                                <a class="list-group-item list-group-item-action active show" data-toggle="list"
                                    role="tab" id="account_tablist" onclick="redirectToAccount() ">
                                    Account
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list" role="tab"
                                    id="security_tablist" onclick="redirectToSecurity() ">
                                    Security
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list" role="tab"
                                    id="deleteaccount_tablist" onclick="redirectToDeleteAccount() ">
                                    Delete account
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Contenido -->
                    <div class="col-md-7 col-xl-8">
                        <div class="tab-content">

                            <!-- panel "Account" -->
                            <div class="tab-pane fade show active" id="account" role="tabpanel">
                                <!-- Card-->
                                <div class="card">
                                    <!-- Titulo-->
                                    <div class="card-header">
                                        <h3 class="mb-0">Profile Details</h3>
                                        <p class="mb-0">
                                            You have full control to manage your own account setting.
                                        </p>
                                    </div>
                                    <!-- Cuerpo -->
                                    <div class="card-body">
                                        <div class="d-lg-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center mb-4 mb-lg-0">
                                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                                    alt="avatar" class="avatar-xl rounded-circle" style="width: 80px;">
                                                <div class="mt-2">
                                                    <span class="btn btn-primary"><i class="fa fa-upload"></i></span>
                                                </div>
                                                <div class="ms-3">
                                                    <h4 class="mb-0">Your avatar</h4>
                                                    <p class="mb-0">
                                                        PNG or JPG no bigger than 800px wide and tall.
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Botones paa actualizar y borrar imagen -->
                                            <div>
                                                <a href="#" class="btn btn-outline-secondary btn-sm">Update</a>
                                                <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
                                            </div>
                                        </div>
                                        <!-- Espacio -->
                                        <hr class="my-5">
                                        <!-- Formulario para cambiar el perfil -->
                                        <div>
                                            <h4 class="mb-0">Personal Details</h4>
                                            <p class="mb-0">
                                                Edit your personal information and address.
                                            </p>
                                        </div>
                                        <form method="post" action="{{ url_for('ChangeProfile') }}">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label for="inputUsername">Username</label>
                                                        <input type="text" class="form-control" id="inputUsername"
                                                            name="inputUsername" placeholder="Username"
                                                            value="{{ user_data[1] }}" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="phone">Phone</label>
                                                        <input type="tel" class="form-control" id="inputPhone"
                                                            name="inputPhone" pattern="[0-9]{10}" placeholder="inputphone">
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}
</main>

</html>