<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BASE{% endblock %}</title>
    <!-- favicon -->
    <link rel="icon" href="imagenes/icono.png" type="image/x-icon">
    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <!--css-->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->

    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    {% block style%}
    <!-- Bloques de scs personalizados de plantillas hijas irán aquí -->
    {% endblock %}

    {% block javascript %}
    <!-- Bloques de scripts personalizados de plantillas hijas irán aquí -->
    {% endblock %}

</head>

<body data-bs-theme="light">

    <div id="shopify-section-header">

        <nav class="navbar navbar-expand-md fixed-top ">
            <!--barra de navegacion-->
            <div class="container-fluid ">
                <!--SVG-->

                <a class="navbar-brand" href="/"> <!--imagen de inicio-->
                    <img src="../static/img/inicio2.png" width="40" alt="Logo de la pagina web" class="logo">
                </a>

                <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
                    <symbol id="sun-fill" viewbox="0 0 16 16">
                        <path
                            d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z">
                        </path>
                    </symbol>
                    <symbol id="moon-fill" viewbox="0 0 16 16">
                        <path
                            d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278">
                        </path>
                    </symbol>
                    <symbol id="three-dots" viewbox="0 0 16 16">
                        <path
                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3">
                        </path>
                    </symbol>
                    <symbol id="people-circle" viewbox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0">
                        </path>
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1">
                        </path>
                    </symbol>
                    <symbol id="github" viewbox="0 0 16 16">
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8" />
                    </symbol>
                    <symbol id="twitter-x" viewbox="0 0 16 16">
                        <path
                            d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" />
                    </symbol>
                    <symbol id="lol" viewbox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0">
                        </path>
                        <path
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1">
                        </path>
                    </symbol>
                    <symbol id="exclamation" viewbox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path
                            d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
                    </symbol>
                </svg>



                <!-- Buttom -->
                <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-label="Toggle navigation">

                    <svg class="bi" width="16" height="16">
                        <use xlink:href="#three-dots" class="icon-white" />
                    </svg>
                </button>

                <!-- offcanvas "Menu" -->
                <div class="offcanvas-lg offcanvas-end flex-grow-1" tabindex="-1" id="bdNavbar"
                    aria-labelledby="bdNavbarOffcanvasLabel" data-bs-scroll="true">

                    <div class="offcanvas-header px-4 pb-0">
                        <!-- Name of the page -->
                        <h5 class="offcanvas-title text-white" id="bdNavbarOffcanvasLabel">Pagina</h5>
                        <!-- Buttom X -->
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close" data-bs-target="#bdNavbar"></button>
                    </div>

                    <div class="offcanvas-body p-4 pt-0 p-lg-0">

                        <!--Hr-->
                        <hr class="d-lg-none text-white-50">
                        <!-- content -->
                        <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">

                            {% if 'email' not in session %}
                            <!-- Signup -->
                            <li class="nav-item col-6 col-lg-auto">
                                <a class="nav-link py-2 px-0 px-lg-2" href="{{ url_for('signup') }}">Registrate</a>
                            </li>
                            <!-- Sign -->
                            <li class="nav-item col-6 col-lg-auto">
                                <a class="nav-link py-2 px-0 px-lg-2" href="{{ url_for('sign') }}">Inicia Sesion</a>
                            </li>
                            {% endif %}

                            {% if 'email' in session %}
                            <ul class="navbar-nav margin-right mb-2 mb-md-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg class="bi" width="16" height="16">
                                            <use xlink:href="#people-circle" class="icon-white" />
                                        </svg>
                                        {{ email }}
                                    </a>
                                    <ul class="dropdown-menu text-small shadow" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">New project...</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('account') }}">Settings</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('profile') }}">Profile</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="{{ url_for('Signout') }}">Sign out</a></li>
                                    </ul>
                                </li>
                            </ul>
                            {% endif %}
                        </ul>
                        <!--Hr-->
                        <hr class="d-lg-none text-white-50">
                        <!-- Navbar social networks -->
                        <ul class="navbar-nav flex-row flex-wrap ms-md-auto">

                            <li class="nav-item col-6 col-lg-auto">
                                <a class="nav-link py-2 px-0 px-lg-2" href="https://github.com/xEmmanuelCobax"
                                    target="_blank" rel="noopener">
                                    <svg class="navbar-nav-svg" viewBox="0 0 512 499.36" role="img" width="22">
                                        <title>GitHub</title>
                                        <use xlink:href="#github" class="icon-white" />
                                    </svg>
                                    <small class="d-lg-none ms-2">GitHub</small>
                                </a>
                            </li>

                            <li class="nav-item col-6 col-lg-auto">
                                <a class="nav-link py-2 px-0 px-lg-2" href="https://twitter.com" target="_blank"
                                    rel="noopener">
                                    <svg class="navbar-nav-svg" viewBox="0 0 512 499.36" role="img" width="22"
                                        height="16">
                                        <title>Twitter</title>
                                        <use xlink:href="#twitter-x" class="icon-white" />
                                    </svg>
                                    <small class="d-lg-none ms-2">Twitter</small>
                                </a>
                            </li>

                            <li class="nav-item col-6 col-lg-auto">
                                <a class="nav-link py-2 px-0 px-lg-2" href="https://opencollective.com" target="_blank"
                                    rel="noopener">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" fill="currentColor"
                                        fill-rule="evenodd" class="navbar-nav-svg" viewBox="0 0 40 41" role="img">
                                        <title>Open Collective</title>
                                        <path fill-opacity=".4"
                                            d="M32.8 21c0 2.4-.8 4.9-2 6.9l5.1 5.1c2.5-3.4 4.1-7.6 4.1-12 0-4.6-1.6-8.8-4-12.2L30.7 14c1.2 2 2 4.3 2 7z">
                                        </path>
                                        <path
                                            d="M20 33.7a12.8 12.8 0 0 1 0-25.6c2.6 0 5 .7 7 2.1L32 5a20 20 0 1 0 .1 31.9l-5-5.2a13 13 0 0 1-7 2z">
                                        </path>
                                    </svg>
                                    <small class="d-lg-none ms-2">Open Collective</small>
                                </a>
                            </li>

                            {% if 'email' in session %}
                            <li class="nav-item py-2 py-lg-1 col-12 col-lg-auto">
                                <div class="vr d-none d-lg-flex h-100 mx-lg-2 text-white"></div>
                                <hr class="d-lg-none my-2 text-white-50">
                            </li>
                            <!-- Nav-item Toogle Theme -->
                            <li class="nav-item dropdown py-lg-2">
                                <button
                                    class="btn btn-link nav-link  px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                                    id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown"
                                    data-bs-display="static" aria-label="Toggle theme (light)">
                                    <svg class="bi" width="16" height="16" fill="currentColor">
                                        <use id="theme" xlink:href="#sun-fill" />
                                    </svg>
                                    <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
                                </button>
                                <!-- dropdowmn Toogle Theme -->
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                                    <!-- light -->
                                    <li>
                                        <button id="lightButton" type="button"
                                            class="dropdown-item d-flex align-items-center active" onclick="light()">
                                            <svg class="bi" width="16" height="16" fill="currentColor">
                                                <use xlink:href="#sun-fill" />
                                            </svg>
                                            Light
                                        </button>
                                    </li>
                                    <!-- dark -->
                                    <li>
                                        <button id="darkButton" type="button"
                                            class="dropdown-item d-flex align-items-center" onclick="dark()">
                                            <svg class="bi" width="16" height="16" fill="currentColor">
                                                <use xlink:href="#moon-fill" />
                                            </svg>
                                            Dark
                                        </button>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    {% block index %}
    {% endblock %}

    {% block contenido %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>