<!DOCTYPE html>

<html lang="es">

<head>
    {% extends 'base.HTML' %}
    <title>index</title>
</head>

{% block contenido %}

<body>
    <div class="container marketing">
        <div class="container mb-5 mb-md-6">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 text-center">
                    <h2 class="mb-4 display-5">Habilidades</h2>
                    <p class="text-secondary mb-4 mb-md-5"></p>
                    <hr class="w-50 mx-auto mb-0 text-secondary">
                </div>
            </div>
        </div>
        <div class="container overflow-hidden">
            <div class="row justify-content-xl-center gy-3 gy-sm-4">
                <div class="col-12 col-sm-6 col-xl-5">
                    <div class="bg-white rounded shadow-sm p-3 p-md-4 p-xxl-5">
                        <h3 class="fw-bold mb-2">Bootstrap</h3>
                        <p class="text-secondary fst-italic mb-4"></p>
                        <div class="progress">
                            <div class="progress-bar w-85 progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-label="Bootstrap" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-5">
                    <div class="bg-white rounded shadow-sm p-3 p-md-4 p-xxl-5">
                        <h3 class="fw-bold mb-2">Java</h3>
                        <p class="text-secondary fst-italic mb-4"></p>
                        <div class="progress">
                            <div class="progress-bar w-75 progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-label="React" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-5">
                    <div class="bg-white rounded shadow-sm p-3 p-md-4 p-xxl-5">
                        <h3 class="fw-bold mb-2">Python</h3>
                        <p class="text-secondary fst-italic mb-4"></p>
                        <div class="progress">
                            <div class="progress-bar w-65 progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-label="Vue" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-5">
                    <div class="bg-white rounded shadow-sm p-3 p-md-4 p-xxl-5">
                        <h3 class="fw-bold mb-2">HTML</h3>
                        <p class="text-secondary fst-italic mb-4"></p>
                        <div class="progress">
                            <div class="progress-bar w-95 progress-bar-striped progress-bar-animated" role="progressbar"
                                aria-label="WordPress" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}

</html>