{% extends 'base.HTML' %}
{% block contenido %}
    <div style="color: blue;" class="container">
        <h2>login</h2>
        <form method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">login</button>
        </form>
        {% if error_message %}
        <div style="color: red;">{{ error_message }}</div>
        {% endif %}
    </div>

{% endblock %}


