<!DOCTYPE html>
<html lang="es">
{% extends 'base.HTML' %}

<head>
    <title>{% block title %}Profile{% endblock %}</title>
    {% block style%}
    {% endblock %}
    {% block javascript %}
    {% endblock %}
</head>

<body>
    <header>
        <h1>Bienvenido a tu perfil</h1>
    </header>
    <main>
        <div id="perfil-info">
            <p><strong>Email:</strong> {{ email }}</p>
        </div>
    </main>
    <footer>
        <a href="{{ url_for('sign') }}">Cerrar Sesión</a>
    </footer>
</body>

</html>