<!DOCTYPE html>

<html lang="es">

{% extends 'base.HTML' %}

<head>
    <title>{% block title %}Settings{% endblock %}</title>
    {% block style%}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    {% endblock %}
    {% block javascript %}
    <script>
        function redirectToAccount() {
            // Obtener la URL generada por Flask utilizando url_for
            var securityUrl = "{{ url_for('account') }}";
            // Redirigir a la URL de seguridad
            window.location.href = securityUrl;
        }
        function redirectToSecurity() {
            // Obtener la URL generada por Flask utilizando url_for
            var securityUrl = "{{ url_for('security') }}";
            // Redirigir a la URL de seguridad
            window.location.href = securityUrl;
        }
        function redirectToDeleteAccount() {
            // Obtener la URL generada por Flask utilizando url_for
            var securityUrl = "{{ url_for('deleteaccount') }}";
            // Redirigir a la URL de seguridad
            window.location.href = securityUrl;
        }
        function submitForm() {
                // Submit the form
                const form = document.getElementById('changePasswordForm');
                form.submit();
            }
    </script>
    {% endblock %}
</head>

<main id="main" role="main">
    {% block contenido %}
    <section class="pb-4">
        <div class="container py-5 h-100">
            <div class="row d-flex align-items-center justify-content-center mt-5">
                <h1 class="h3 mb-3">Settings</h1>
                <div class="row">
                    <div class="col-md-5 col-xl-4">

                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title mb-0">Profile Settings</h5>
                            </div>

                            <div class="list-group list-group-flush" role="tablist">
                                <a class="list-group-item list-group-item-action" data-toggle="list"
                                    role="tab" id="account_tablist" onclick="redirectToAccount() ">
                                    Account
                                </a>
                                <a class="list-group-item list-group-item-action active show" data-toggle="list" role="tab"
                                    id="security_tablist" onclick="redirectToSecurity() ">
                                    Security
                                </a>
                                <a class="list-group-item list-group-item-action" data-toggle="list" role="tab"
                                    id="deleteaccount_tablist" onclick="redirectToDeleteAccount() ">
                                    Delete account
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7 col-xl-8">
                        <div class="tab-content">
                            <!-- Security pane -->
                            <div class="tab-pane fade show active" id="security" role="tabpanel">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="mb-0">Security</h3>
                                        <p class="mb-0">
                                            Edit your account settings and change your password here.
                                        </p>
                                    </div>

                                    <div class="card-body">
                                        <h5 class="card-title">Change Password</h5>
                                        <p>We will email you a confirmation when changing your
                                            password, so please expect that
                                            email after submitting.</p>
                                        <!-- Change password form -->
                                        <form id="changePasswordForm" method="post" action="{{ url_for('ChangePassword') }}">

                                            <div class="form-outline">
                                                <label for="inputPasswordCurrent">Current password</label>
                                                <input type="password" class="form-control {% if IncorrectPassword %}is-invalid{% endif %} " id="inputPasswordCurrent"
                                                    name="inputPasswordCurrent" required />
                                                {% if IncorrectPassword %}
                                                <div class="invalid-feedback">{{ error_message }}</div>
                                                {% endif %}
                                                <small><a href="#">Forgot your password?</a></small>
                                            </div>

                                            <div class="form-outline">
                                                <label for="inputPasswordNew">New password</label>
                                                <input type="password" class="form-control {% if PasswordNone %}is-invalid{% endif %} " id="inputPasswordNew"
                                                    name="inputPasswordNew" required />
                                                    {% if PasswordNone %}
                                                    <div class="invalid-feedback">{{ error_message }}</div>
                                                    {% endif %}
                                            </div>

                                            <div class="form-outline">
                                                <label for="inputPasswordNew2">Verify password</label>
                                                <input type="password" class="form-control {% if IncorrectConfirmation %}is-invalid{% endif %} " id="inputPasswordNew2"
                                                    name="inputPasswordNew2" required />
                                                {% if IncorrectConfirmation %}
                                                <div class="invalid-feedback">{{ error_message }}</div>
                                                {% endif %}
                                            </div>

                                            <br>

                                            <button type="button" class="btn btn-primary" onclick="window.modal1.showModal();">Save changes</button>

                                            <dialog class="custom-dialog" id="modal1">
                                                <div style="text-align: center;"><svg class="navbar-nav-svg" viewBox="0 0 512 499.36" role="img" width="50"
                                                        height="50">
                                                        <title>Twitter</title>
                                                        <use xlink:href="#exclamation" class="icon-danger" />
                                                    </svg></div>
                                                <h3 style="text-align: center;">Are you sure?</h3>
                                                <p style="color: grey; text-align: center;">The password will be changed!</p>
                                                <div style="text-align: center;">
                                                    <a class="btn btn-danger" onclick="submitForm()">Yes,Change</a>
                                                    <button class="btn btn-success" onclick="window.modal1.close();">Cancel</button>
                                                </div>
                                            </dialog>
                                        </form>
                                    </div>
                                    <hr class="my-5">
                                    <div class="card-body">
                                        <h5 class="card-title">Email Address</h5>
                                        <p>Your current email address is
                                            <span class="text-success">{{ user_data[2] }}</span>
                                        </p>
                                        <!-- Change email form -->

                                        <form method="post" action="{{ url_for('ChangeEmail') }}">
                                            <div class="form-group">
                                                <label for="email">Email address</label>
                                                <input type="email"
                                                    class="form-control {% if email_found %}is-invalid{% endif %} "
                                                    id="email" name="email" placeholder="Email address" required>
                                                {% if email_found %}
                                                <div class="invalid-feedback">{{ error_message }}</div>
                                                {% endif %}
                                            </div>
                                            <br>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock %}
</main>

</html>