img {
    max-width: 100%; /* Imágenes no superarán el ancho del contenedor */
    height: auto; /* Altura ajustable para mantener la proporción */
}

/* Para letras responsivas */
body {
    font-size: 1.5vw; /* El tamaño de la letra será el 1.5% del ancho de la ventana del navegador */
}

/* Otros estilos */
h1 {
    font-size: 2.5vw; /* Tamaño de letra más grande para títulos */
}

p {
    font-size: 1vw; /* Tamaño de letra más pequeño para párrafos */
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 768px) {
    img {
        max-width: 100%; /* Imágenes ocuparán todo el ancho disponible */
        max-height: 300px; /* Altura máxima de la imagen en pantallas pequeñas */
    }
}

/* Estilos para pantallas medianas y grandes */
@media screen and (min-width: 768px) {
    img {
        max-width: 100%; /* Imágenes ocuparán todo el ancho disponible */
        max-height: 300; /* Altura máxima de la imagen en pantallas pequeñas */
    }
}
