{% extends 'top navbar/top-navbar.html' %} {% block title%} Almacén {% endblock
%} {% block content %}

<div class="container-fluid">
  <a class="navbar-brand fw-bolder">ALMACÉN</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="mt-4">Lista de productos</h1>
      <button
        type="button"
        class="btn btn-primary my-2"
        data-bs-toggle="modal"
        data-bs-target="#taskModal"
        data-taskid="0"
      >
        Agregar producto <i class="fas fa-plus"></i>
      </button>
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="table-dark">
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          <tr>
            <th scope="row">{{ task[0] }}</th>
            <td>{{ task[1] }}</td>
            <td>{{ task[2] }}</td>
            <td>{{ task[3] }}</td>
            <td>
              <div class="btn-group" role="group">
                <button
                  type="button"
                  class="btn btn-secondary btn-sm dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Opciones
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button
                      type="button"
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#taskModal"
                      data-bs-id="{{task[0]}}"
                      data-bs-nombre="{{task[1]}}"
                      data-bs-cantidad="{{task[2]}}"
                      data-bs-descripcion="{{task[3]}}"
                    >
                      <i class="fas fa-edit"></i> Editar
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="dropdown-item"
                      data-bs-toggle="modal"
                      data-bs-target="#confirmDeleteModal{{ task[0] }}"
                    >
                      <i class="fas fa-trash-alt"></i> Eliminar
                    </button>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modales de confirmación de eliminación -->
{% for task in tasks %}
<div
  class="modal fade"
  id="confirmDeleteModal{{ task[0] }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="confirmDeleteModalLabel{{ task[0] }}"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel{{ task[0] }}">
          Confirmar eliminación
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que quieres eliminar el producto"{{ task[1] }}"?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <form action="/delete_task" method="post">
          <input type="hidden" name="task_id" value="{{ task[0] }}" />
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Modal para crear/editar tarea -->
<div
  class="modal fade"
  id="taskModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="taskModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskModalLabel">Agregar producto</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="taskForm"
          method="POST"
          action="{{ url_for('add_task') }}"
          enctype="multipart/form-data"
        >
          <input type="hidden" id="taskId" name="taskId" />
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              required
            />
          </div>
          <div class="form-group">
            <label for="cantidad">Cantidad:</label>
            <input
              type="text"
              class="form-control"
              id="cantidad"
              name="cantidad"
              required
            />
          </div>
          <div class="form-group">
            <label for="descripcion">Precio:</label>
            <input
              type="text"
              class="form-control"
              id="descripcion"
              name="descripcion"
              required
            />
          </div>
          <div class="form-group text-center mt-2">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  const nombreModal = document.getElementById("taskModal");
  if (nombreModal) {
    nombreModal.addEventListener("show.bs.modal", (event) => {
      // Button that triggered the modal
      const button = event.relatedTarget;
      // Extract info from data-bs-* attributes
      const id = button.getAttribute("data-bs-id");
      const name = button.getAttribute("data-bs-nombre");
      const cant = button.getAttribute("data-bs-cantidad");
      const desc = button.getAttribute("data-bs-descripcion");
      // If necessary, you could initiate an Ajax request here
      // and then do the updating in a callback.

      // Update the modal's content.
      const modalNombre = nombreModal.querySelector("#nombre");
      const modalDesc = nombreModal.querySelector("#descripcion");
      const modalcant = nombreModal.querySelector("#cantidad");
      //  const modalBodyInput = exampleModal.querySelector('.modal-body input')

      //modal.textContent = `New message to ${recipient}`
      modalNombre.value = name;
      modalDesc.value = desc;
      modalcant.value = cant;

      if (id) {
        nombreModal.querySelector(".modal-title").textContent =
          "Editar producto";
        nombreModal
          .querySelector("#taskForm")
          .setAttribute(
            "action",
            '{{ url_for("edit_task", id=0) }}'.replace("0", id)
          );
      } else {
        nombreModal.querySelector(".modal-title").textContent =
          "Agregar producto";
        nombreModal
          .querySelector("#taskForm")
          .setAttribute("action", '{{ url_for("add_task") }}');
      }
    });
  }
</script>
{% endblock %}
